<button
  #word
  class="dropdown"
  [ngClass]="{
    'dropdown-right': posOnScreen === 0,
    'dropdown-left': posOnScreen === 1,
    'dropdown-right dropdown-end': posOnScreen === 2,
    'dropdown-left dropdown-end': posOnScreen === 3,
  }"
>
  <span
    #contentWrapper
    tabindex="0"
    class="hover:bg-base-content hover:bg-opacity-40 px-1.5 rounded"
    (click)="translate()"
  >
    <ng-content></ng-content>
  </span>
  <div
    class="card fixed dropdown-content z-[4] w-96 max-h-96 shadow-md bg-base-200 text-base-content"
    *ngIf="!cardPosLoading"
    tabindex="0"
  >
    <div class="card-body font-normal text-base font-sans text-start overflow-auto py-4">
      <div *ngFor="let variant of translateData">
        <div class="flex flex-row space-x-3 w-full text-base">
          <h2 class="card-title">{{variant.text}}</h2>
          <p>{{variant.pos}}</p>
        </div>
        <div
          *ngFor="let transl of variant.translations | featureFilter: true"
          [ngClass]="transl.examples.length !== 0 ? 'collapse collapse-arrow' : 'hover:cursor-default'"
        >
          <input type="checkbox" *ngIf="transl.examples.length !== 0"/>
          <div class="collapse-title">
            <p>{{transl.text}}</p>
          </div>
          <div class="collapse-content">
            <div *ngFor="let exam of transl.examples" class="ml-4 my-3 flex flex-col space-y-2">
              <p class="font-bold">{{exam.src}}</p>
              <p>{{exam.dst}}</p>
            </div>
          </div>
        </div>
        <div *ngIf="variant.translations | featureFilter: false as lessCommon">
          <div *ngIf="lessCommon.length !== 0" class="inline-block whitespace-normal">
            <span class="text-sm font-bold">Редко используемые: </span>
            <span
              class="text-sm"
              *ngFor="let transl of lessCommon; let last = last"
            >
              {{transl.text}}{{last ? '' : ','}}
            </span>
          </div>
        </div>
      </div>
      <div class="card-actions justify-end">
        <button class="btn">Создать карточку</button>
      </div>
    </div>
  </div>
</button>

