<div class="flex items-center justify-center w-full">
  <div class="navbar w-7/12 rounded-xl bg-base-200 m-4 shadow-md">
    <div class="navbar-start">
      <div class="dropdown">
        <label tabindex="0" class="btn btn-ghost xl:hidden">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h8m-8 6h16"
            />
          </svg>
        </label>
        <ul
          tabindex="0"
          class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52"
        >
          <li><a routerLink="/">Карточки</a></li>
          <li><a routerLink="/words">Граф</a></li>
          <li><a routerLink="/library">Библиотека</a></li>
        </ul>
      </div>
      <a routerLink="/" class="btn btn-ghost normal-case text-xl"
      >ReadCraft Academy</a
      >
    </div>
    <div class="navbar-center hidden xl:flex">
      <!-- make it join-->
      <ul class="menu menu-horizontal px-1 space-x-2">
        <li><a routerLink="/">Карточки</a></li>
        <li><a routerLink="/words">Граф</a></li>
        <li><a routerLink="/library">Библиотека</a></li>
      </ul>
    </div>
    <div class="navbar-end">
      <a class="btn btn-primary">Выход</a>
    </div>
  </div>
</div>
